@page
@model computerMaintenance.App.Frontend.Pages.ListModel
@{
}
<h1>Lista de Servicios</h1>
<table class = "table">
    @foreach (var servicio in Model.ListaServicios)
    {
        <tr>
            <td>@servicio</td>
        </tr>
    }

</table>
